*{
    box-sizing:border-box;
}
html,body{
    scroll-behavior:smooth;
    margin:0;
    padding:0;
    overflow-x:hidden;
    background:#FFF7F5;
    font-family:"Inria Sans", sans-serif;
    font-optical-sizing:auto;
    font-weight:300;
    font-style:normal;
    text-rendering:optimizeLegibility;
    font-size:18px;
    line-height:1.6;
    color:#333333;
}

img{
    max-width:100%;
    vertical-align:middle;
}

.image_horizontal{
    display:block;
    visibility:visible;
}
.image_vertical{
   display:none;
   visibility:hidden;
}

::-moz-selection{
    color:#fff;
    background:#999966;
}
::selection{
    color:#fff;
    background:#999966;
}
::-moz-selection{
    color:#fff;
    background:#999966;
}

a{
    color:#000;
    text-decoration:#336666 underline;
}
a:hover,a:focus,a:active{
    color:#000;
    text-decoration:#336666 wavy underline;
    outline:none;
}

.button{
    display:inline-block;
    margin-bottom:30px;
    padding:15px 120px;
    border:1px solid #663333;
    font-size:1.5em;
    font-weight:700;
    letter-spacing:0.2em;
    text-transform:uppercase;
    text-decoration:none;
    -webkit-transition:background 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1),color 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1),border-color 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1);
    transition:background 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1),color 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1),border-color 275ms cubic-bezier(0.52, 0.12, 0.46, 1.1);
}
.button:hover,.button:focus,.button:active{
    background:#663333;
    border-color:#663333;
    text-decoration:none;
    color:#fff;
    outline:none;
}

p{
    font-size:1em;
}

h1,h2,h3,h4{
    margin:15px 0;
    font-family:"Fraunces", serif;
}
h1{
    font-size:2em;
    font-weight:300;
    font-style:normal;
    letter-spacing:0.2em;
    text-align:center;
    text-transform:uppercase;
}
h2{
    font-size:1.5em;
    font-weight:400;
    font-style:italic;
}
h3{
    font-size:1.5em;
    font-weight:300;
    text-align:center;
}
h4{
    font-weight:400;
    font-style:italic;
    line-height:1;
}

nav{
    position:fixed;
    padding:0 50px 0 0;
    width:100%;
    height:3em;
    background:#fff;
    border-bottom:1px solid #663333;
    z-index:10;
}
.nav-list{
    list-style-type:none;
    font-size:0.85em;
    font-weight:400;
    font-style:regular;
    display:flex;
    justify-content:space-evenly;
}
.nav-list li>a{
    display:block;
    white-space:nowrap;
    color:#663333;
    text-align:center;
    text-decoration:none;
    background: linear-gradient(90deg,#F0DA64,#E79A52) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 2px;
}
.nav-list li>a:hover,a:focus,a:active{
    text-decoration:none;
    outline:none;
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

main{
    position:relative;
    width:100%;
    z-index:8;
}
#story,#details,#travel,#stay,#registry,#rsvp{
    scroll-margin-top:100px;
}
.container{
    margin:60px;
    padding:15px 60px;
    border:1px dotted #336666;
}

footer{
    position:relative;
    margin:100px auto 0;
    padding:50px 200px;
    z-index:8;
}
.footer-nav{
    margin-bottom:50px;
    border-top:1px dotted #663333;
}
.footer-totop{
    display:block;
    height:50px;
    width:50px;
    margin:-25px auto;
    background:#ffffff;
    border:1px solid #663333;
    border-radius:50%;
    font-size:28px;
    text-align:center;
}
.footer-totop svg{
    margin-top:10px;
    -webkit-transition:all 250ms ease-in-out;
    -ms-transition:all 250ms ease-in-out;
    transition:all 250ms ease-in-out;
}
.footer-totop svg:hover{
    margin-top:5px;
}
.footer-credit{
    font-size:.85em;
    text-align:center;
    color:#663333;
}
.footer-credit>span{
    display:block;
    margin-bottom:4px;
}

.recs-wrapper{
    position:relative;
    margin:40px 0 20px;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;
    z-index:9;
}
.recommendation{
    margin-bottom:20px;
    padding:20px 15px;
    -webkit-box-flex:0;
    -ms-flex:0 0 32.5%;
    flex:0 0 32.5%;
    background:#fff;
}
.recommendation ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
.recommendation li{
    margin:2px 0 20px;
    font-size:0.85em;
}
.recommendation li a{
    font-weight:700;
}

.quiz{
    margin:40px 0 20px -50px;
    list-style-type:none;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
    justify-content:center;
    z-index:9;
}
.fact{
    margin:0 20px 20px 20px;
    min-height:260px;
    -webkit-box-flex:0;
    -ms-flex:0 41%;
    flex:0 41%;
    -webkit-perspective:1000px;
    perspective:1000px;
}
.card{
    position:relative;
    width:100%;
    height:100%;
    font-size:0.85em;
    line-height:1.2;
    text-align:center;
    -webkit-transition:-webkit-transform 0.5s;
    transition:transform 0.5s;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -webkit-transform-origin:center;
    transform-origin:center;
}
.card:hover{
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.card-front,.card-back{
    position:absolute;
    padding:12px;
    width:100%;
    height:100%;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
}
.card-front{
    background-color:#fff;
}
.card-front img{
    margin-top:40px;
    height:135px;
}
.taiwan{
    background-color:#395D51;
}
.switz{
    background-color:#DA291C;
}
.card-back{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    -webkit-transform:rotateY(180deg);
    transform:rotateY(180deg);
}

@media only screen and (max-width: 700px) {
    html,body{
        font-size:14px;
        line-height:1.4;
    }
    .image_horizontal{
        display:none;
        visibility:hidden;
    }
    .image_vertical{
       display:block;
       visibility:visible;
    }
    .button{
        margin-bottom:20px;
        padding:10px 60px;
    }
    nav{
        padding:0;
    }
    .nav-list{
        padding:0 5%;
        justify-content:space-between;
        align-items:center;
    }
    #story,#details,#travel,#stay,#registry,#rsvp{
        scroll-margin-top:55px;
    }
    .container{
        margin:30px;
        padding:10px 30px;
    }
    footer{
        margin-top:50px auto 0;
        padding:50px 60px;
    }
    .footer-credit>span{
        display:block;
        margin-bottom:8px;
    }
    .recommendation{
        -ms-flex:0 0 93%;
        flex:0 0 93%;
    }
    .recommendation li{
        font-size:1em;
    }
    .fact{
        min-height:200px;
        -ms-flex:0 90%;
        flex:0 90%;
    }
    .card{
        font-size:1em;
        line-height:1.4;
    }
    .card-front img{
        margin-top:20px;
        height:100px;
    }
}
@media only screen and (min-width: 1300px) {
    nav{
        padding:0 100px 0 50px;
    }
    .container{
        margin:60px auto;
        padding:15px 60px;
        width:1200px;
    }
    footer{
        margin:100px auto 0px;
        padding:50px 0;
        width:1200px;
    }
    .fact{
        min-height:260px;
        -ms-flex:0 20.5%;
        flex:0 20.5%;
    }
}

input[type="checkbox"] {
    display: none;
}
input[type="checkbox"]:checked ~ .reveal-text {
    display: inline-block;
    margin:25px 0 10px;
    padding:20px;
    background:#fff;
    max-height: 1500px;
    transition: max-height 0.5s ease-in-out;
}
input[type="checkbox"]:not(:checked) ~ .reveal-text {
    transition: max-height 0s ease-in-out;
  }
input[type="checkbox"]:checked + label::before {
    content: "Hide the essay";
}
label::before {
    content: "Read Steve's long story of how they met";
    color:#663333;
    text-transform:uppercase;
    font-size:0.85em;
    margin-left:10px;
    padding:0 5px 0 5px;
    border:1px solid #336666;
    background: linear-gradient(90deg,#F0DA64,#E79A52) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
}
label:hover::before {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}
.reveal-text {
    display: block;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
}

header{
    overflow:hidden;
    width:100%;
    min-height:90vh;
    z-index:9;
    background-image: url("img/plants-a.png"), url("img/animals.png"), url("img/plants-b.png");
    background-repeat: no-repeat;
    background-size: 45vh;
    background-position-x:center;
    background-position-y: 15vh, 15vh, 15vh;
    -webkit-animation: animateA 5s infinite ease-in-out, animateB 5s infinite ease-in-out;
    animation: animateA 5s infinite ease-in-out, animateB 5s infinite ease-in-out;
}
.header-title{
    padding-top:60vh;
    text-align:center;
}
.header-name{
    position:relative;
    display:block;
    font-family:"Fraunces", serif;
    font-size:3em;
    font-weight:200;
    color:#000000;
    z-index:8;
}
.header-and{
    position:absolute;
    left:0%;
    width:100%;
    margin-top:-1.5em;
    font-family:"Fraunces", serif;
    font-size:6em;
    font-weight:900;
    color:#EFC29B;
    z-index:7;
}
.header-date{
    position:relative;
    display:block;
    font-family:"Inria Sans", sans-serif;
    font-size:0.75em;
    font-weight:300;
    font-style:italic;
    color:#000000;
    z-index:8;
}

@-webkit-keyframes animateA {
    0% { background-position-y: 15vh, 15vh, 15vh; }
    50% { background-position-y: 10vh, 15vh, 20vh; }
    100% { background-position-y: 15vh, 15vh, 15vh; }
}
@keyframes animateA {
    0% { background-position-y: 15vh, 15vh, 15vh; }
    50% { background-position-y: 10vh, 15vh, 20vh; }
    100% { background-position-y: 15vh, 15vh, 15vh; }
}

@-webkit-keyframes animateB {
    0% { background-position-y: 15vh, 15vh, 15vh; }
    50% { background-position-y: 20vh, 15vh, 10vh; }
    100% { background-position-y: 15vh, 15vh, 15vh; }
}
@keyframes animateB {
    0% { background-position-y: 15vh, 15vh, 15vh; }
    50% { background-position-y: 20vh, 15vh, 10vh; }
    100% { background-position-y: 15vh, 15vh, 15vh; }
}

